In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import data_manipulation as data

%matplotlib inline

In [2]:
df = data.to_dataframe('feature-data')

/Users/adityaramesh/Desktop/CS/Projects/atlas-trash-classification/venv/lib/python3.11/site-packages/PIL/Image.py:1000: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  warnings.warn(

Appears that 500 is a good value to have as a minimum per category. Need to check whether the following categories are worth keeping: "other metal objects", "news paper", "smartphones", "gloves". Could also use data augmentation to increase counts for those if necessary.

In [42]:
count_df = df.groupby('Category').size().reset_index(name='Count')
count_df.sort_values(by=['Count'])

               Category  Count
13  other metal objects     42
12           news paper    200
21          smartphones    274
7                gloves    444
8               laptops    500
9                 masks    500
22           spray cans    500
16         plastic bags    504
11     metal containers    505
2        cigarette butt    507
10            medicines    507
23              syringe    507
19         plastic cups    507
3    construction scrap    539
17      plastic bottles    571
18   plastic containers    580
5      electronic chips    615
15           paper cups    639
4     electrical cables    693
24            tetra pak    794
20     small appliances    926
0         beverage cans   1000
14                paper   1062
1             cardboard   2414
6                 glass   2528

Checking and working with Null Data. There exists 5 null values in the follwoing indexes. Looks safe to just go ahead and drop the values.

In [41]:
df_dropped = df.dropna(inplace=False, how='any')
count_df_dropped = df_dropped.groupby('Category').size().reset_index(name='Count')
count_df_dropped.sort_values(by=['Count'])

count_df['Count'].subtract(count_df_dropped['Count'])

0     0
1     2
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     0
10    0
11    0
12    0
13    0
14    1
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
Name: Count, dtype: int64